[data-mvp*="container"]
{
    position: relative;


    figure ul
    {
        position: absolute;
        display: flex;
        left: 0;
        bottom: 0;
        width: 100%;
    }

}